---
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from "astro:content";
import { Button } from "./ui/button";

const allProjects = await getCollection("projects");
---

<section class="mt-10 px-4 w-full">
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4 text-gray-900 dark:text-white">
      Projects
    </h2>
  </div>

  <!-- Grid Layout for Projects -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      allProjects.map((project) => (
        <ProjectCard
          id={project.id}
          title={project.data.title}
          summary={project.data.summary}
          tags={project.data.tags}
          cover={project.data.cover}
          startDate={project.data.startDate}
          endDate={project.data.endDate}
        />
      ))
    }
  </div>

  <!-- See All Projects Button -->
  <div class="flex justify-center mt-10">
    <Button
      className="text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark"
    >
      <a href="/projects">See All Projects</a>
    </Button>
  </div>
</section>
