---
import { Image } from "astro:assets";
const { title, tags, cover, id, startDate, endDate, summary } = Astro.props;

// Function to format the date
const formatDate = (date: any) => new Date(date).toLocaleDateString('en-US', {
  year: 'numeric', month: 'short', day: 'numeric'
});
---

<a href={`/projects/${id}`} class="block">
  <div class="relative flex flex-col text-gray-700 bg-clip-border rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300 w-full">
    <!-- Cover Image Section -->
    <div class="relative overflow-hidden rounded-xl h-52">
      <Image
        transition:name={`${id}-image`}
        src={cover}
        alt={`Cover image of ${title}`}
        class="object-cover w-full h-full rounded-xl"
        loading="eager"
      />
    </div>

    <!-- Project Information -->
    <div class="px-4 py-4 flex flex-col gap-3">
      <!-- Tags -->
      <p class="text-sm text-gray-500 dark:text-gray-300 line-clamp-2">{tags.join(', ')}</p>

      <!-- Title -->
      <h4 class="font-semibold text-xl text-gray-900 dark:text-white">{title}</h4>

      <!-- Date Range -->
      <div class="text-sm text-gray-600 dark:text-gray-400">
        <p>{formatDate(startDate)} - {formatDate(endDate)}</p>
      </div>

      <!-- Summary (Optional) -->
      <p class="text-sm text-gray-600 dark:text-gray-400 line-clamp-5 text-justify">{summary}</p>
    </div>
  </div>
</a>
